# Pandas

In [1]:
import pandas as pd
pd.__version__

'2.0.0'

### Simple Creating Data {as a Dictionary}

In [4]:
data = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
            ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print(data)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

### Dictionary to Pandas data frame

In [6]:
simple_dictionary = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

data = pd.DataFrame(simple_dictionary)

print(data)

   calories  duration
0       420        50
1       380        40
2       390        45

### Access by index

In [16]:
data = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print('Complete\n', data)
print('\nIndex 0:\n', data.loc[0])
print('\nIndex 0, 1:\n', data.loc[[0 , 2]])

Complete
                        Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

Index 0:
 Name    Braund, Mr. Owen Harris
Age                          22
Sex                        male
Name: 0, dtype: object

Index 0, 1:
                        Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
2  Bonnell, Miss. Elizabeth   58  female

### Search by key

In [17]:
data = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print(data["Name"])

0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2    Bonnell, Miss. Elizabeth
Name: Name, dtype: object